vendor/
app/cache/
app/config/
app/logs/
app/AppKernel.php
app/AppCache.php
.idea/

app/.htaccess

app/autoload.php

app/bootstrap.php.cache

app/check.php

app/console

app/phpunit.xml.dist

app/SymfonyRequirements.php
